#caixa-externa{
  background-color: blueviolet;
}

.caixa{
  background-color: blue;
  padding: 10px;
  
}

.texto-branco{
  color: white;;
}

p{
  color: yellow;
  margin: 0px;
  padding: 0px;
}

.caixa-interna{
  background-color: red;
  padding: 1px;
}