<div class="container">
  <app-carrinho (buscaRealizada)="onBuscaRealizada($event)"  />
  <div class="container-filtros">

      <app-classes [categorias]="getCategorias()" (buscaCategoriaRealizada)="onBuscaCategoriaRealizada($event)" title="Categoria" class="item"/>
      <app-objetos [veiculos]="veiculos" (buscaObjetoRealizada)="onBuscaObjetoRealizada($event)" [title]="categoria ? categoria : 'Veiculos'" class="item"/>
      <app-propriedades [atributos]="atributos" (buscaPropriedadeRealizada)="onBuscaPropriedadeRealizada($event)" title="Atributos" class="item"/>
      
      <app-valor-propriedade [value]="value" [title]="propriedade ? propriedade : 'Propriedade'" class="item"/>
  </div>
  <app-botao (adicionar)="onAdcionar()" class="item"/>
  
  <div class="lista">
      <h1>Veículos Salvos</h1>
      <div *ngFor="let nome of veiculosAdicionados">
          <span>{{nome}}</span>
          <hr>
      </div>
  </div>
</div>
