<section class="box">
    <div class="cabeçalho">Serviços</div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit similique, obcaecati, ducimus quidem temporibus in amet cum animi nihil, dolorum magni iure pariatur asperiores sit dolore provident necessitatibus aliquam labore.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consequatur incidunt in soluta impedit a aperiam, ducimus pariatur cum et nulla obcaecati neque debitis, quasi consectetur ipsum sit provident. Distinctio!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquid cupiditate quod culpa dignissimos! A maxime laboriosam, quas qui accusantium aut quibusdam quidem soluta corrupti, nemo enim ea facere. Beatae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero at ipsam ullam voluptatem, corrupti veniam dignissimos nam modi maxime natus, voluptates molestiae harum? Iure voluptatem repudiandae voluptates placeat vero inventore!
    </p>
</section>
