.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 50px;
    grid-gap: 10px;
    grid-auto-rows: 100px;
}

#A1 {
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 4;
}

#A2 {
    background-color: rgb(51, 0, 255);
}

#A3 {
    background-color: pink;
}

#A4 {
    background-color: violet;
}

#A5 {
    background-color: green;
}

#A6 {
    background-color: greenyellow;
}