<body>
  <header>
    <h1>UESC - Universidade Estadual de Santa Cruz</h1>
  </header>
  <div class="divisao1">
    <section class="box">
      <div class="cabeçalho">Menu</div>
      <div>
        <h2>Titulo 1</h2>
        <h2>Titulo 2</h2>
        <h2>Titulo 3</h2>
      </div>  
    </section>
    <app-noticias></app-noticias>
    <app-noticias></app-noticias>
    <app-destaque></app-destaque>
    <app-destaque></app-destaque>
    <app-destaque></app-destaque>
  </div>
  <div class="divisao2">
    <app-servicos></app-servicos>
    <app-resultados></app-resultados>
  </div>
  <footer>
    <p>Desenvolvido por: <a href="https://github.com/albertolunia">Alberto Henrique</a></p>
  </footer>
</body>
