@media (min-width: 360px) and (max-width: 722px){
  h4{
    color: red;
  }
}

@media (min-width: 1024px) and (max-width: 1100px){
  h4{
    color: blue;
  }
}

@media (min-width: 1200px) and (max-width: 1600px){
  h4{
    color: green;
  }
}